<mat-drawer-container [hasBackdrop]="'true'">
    <mat-drawer #drawer [mode]="'over'" id="sidebar" class="flex flex-direction-column">
        <div class="steps">
            <div class="title">
                <div class="flex flex-direction-row">
                    <div>STEPS</div>
                </div>
            </div>
            <div class="flex flex-direction-column">
                <button mat-button *ngFor="let step of steps; index as idx" (click)="goToStep(idx + 1)"
                    class="list-item flex flex-direction-row" [class.complete]="idx + 1 <= currentStep"
                    [class.active]="currentStep === idx + 1">
                    <div class="step-title">{{idx + 1}}. {{step.title}}</div>
                </button>
            </div>
        </div>
        <div class="resources" *ngIf="tutorialResources && tutorialResources.length > 0">
            <div class="title">
                <div class="flex flex-direction-row">
                    <div>RESOURCES</div>
                </div>
            </div>
            <a *ngFor="let resource of tutorialResources" [href]="resource.link"
                class="list-item flex flex-direction-row" target="_blank">
                <div><i class="{{resource.type}}"></i></div>
                <div>{{resource.label}}</div>
            </a>
        </div>
        <!-- <div class="flex flex-grow flex-direction-column justify-content-flex-end padding-1">
            <div>See <a href='https://docs.microsoft.com?OCID={{ocid}}' target='_blank'>documentation</a></div>
            <div>Learn more on <a href='https://docs.microsoft.com/learn/?OCID={{ocid}}' target='_blank'>Microsoft
                    Learn</a></div>
        </div> -->
    </mat-drawer>

    <mat-drawer-content id="results" class="flex flex-grow">
        <div class="title">
            <div class="flex flex-direction-row justify-content-space-between">
                <div class="burger-menu" (click)="drawer.toggle()"><i class="fas fa-bars"></i></div>
                <div>{{tutorialDetails?.title}}</div>
                <div><a [routerLink]="['/']"><i class="fas fa-home"></i></a></div>
            </div>
        </div>

        <div class="codelab-steps flex-grow">
            <div class="codelab-header" *ngIf="currentStep == 1">
                <h1 class="codelab-header-title">{{infos?.title}}</h1>
                <div class="codelab-header-description">
                    {{infos?.description}}
                </div>
                <div class="authors" *ngIf="authors.length > 0">
   
                    <div class="label">by</div>
                    <div class="flex flex-direction-row justify-content-center flex-wrap-wrap">
                        <div *ngFor="let author of authors" class="author">
                            <a [href]="author.url" target="_blank" class="flex align-items-center">
                                <img class="avatar"
                                    src="https://raw.githubusercontent.com/{{this.repo}}/data/authors/{{author.avatar}}" />
                                <span>{{author.name}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let step of tutorialSteps; index as idx" id="step-{{idx + 1}}"
                class="card margin-2 margin-bottom-6 margin-mobile-0 margin-bottom-mobile-6" [class.selected]="idx + 1 == currentStep">
                <div markdown ngPreserveWhitespaces [data]="step" (error)="onError($event)"
                    class="codelab-step padding-1">
                </div>
                <div class="controls flex justify-content-space-between">
                    <button [hidden]="currentStep <= 1" mat-raised-button (click)="prev()" color="primary">
                        <i class="fas fa-chevron-left"></i> BACK
                    </button>
                    <button [hidden]="currentStep >= steps.length" mat-raised-button (click)="next()" color="primary">
                        NEXT <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="bug">
            <button mat-fab [matMenuTriggerFor]="menu" class="bug-button"
                aria-label="report a bug"
                matTooltip="Report a bug"
                matTooltipPosition="left"
                aria-tooltip="Report a bug">
                <i class="fas fa-bug"></i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <span><a href="https://github.com/DevConGalaxy/workshops/issues/" target="_blank">On the platform</a></span>
                </button>
                <button mat-menu-item>
                    <span><a href="{{infos?.github}}/issues/" target="_blank">In this workshop</a></span>
                </button>
            </mat-menu>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
